<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
		<!--<style>
			* {padding: 0;margin: 0;}
			.head_div img, .foot_div img {width: 80%;}
			.body_div p, .foot_div p {font-size: 14px;color: #000;line-height: 30px;text-indent: 2em;}
			.account_div {margin: 20px 0;}
			.attention_div {margin: 20px 0;}
			.foot_div p i {color: #ff0000;font-size: 12px;}
		</style>-->
		<div style="background: url('http://tlb.txasfx.com/crm/img2/_20180723163728.png');height: 200px;margin-right: 600px;">
			<!--<img src="http://tlb.txasfx.com/crm/img2/_20180723163728.png"/>-->
			哈哈哈哈哈哈哈
		</div>
	</body>
</html>
